/*
 * 1. typora > settings > visual > open theme dir
 * 2. add this file as `base.user.css` because typora load the name of file automatically.
 */

.ty-search-item-line-more {
  display: block;
}
.ty-search-item-line-expand {
  display: none;
}

h1 {
  border-bottom: double #4f525a;
}
h2 {
  border-bottom: solid 1px #4f525a;
}
