[ghq]
  root = ~/go/src
  root = ~/project/src

[user]
  email = kotaro.yoshimatsu@gmail.com
  name = ktrysmt
  signingkey = ~/.ssh/id_ed25519.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[merge]
  ff = false

[pull]
  ff = only

[url "https://"]
  insteadOf = git://

# [pager]
#   diff = delta
#   show = delta

[alias]
  delta = !git diff | delta
  delta = !git diff | delta

[delta]
  # features = line-numbers decorations
  features = side-by-side line-numbers decorations
  syntax-theme = Dracula
  # syntax-theme = Monokai Extended
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

# [credential]
# 	helper = osxkeychain
# 	; OR
# 	helper = libsecret

[feature]
  manyFiles = true
